.navigation-item {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation-item a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  background-color: #8F5C2C;
  border-bottom: 4px solid #40A4C8;
  color: #fff;
}


@media (max-width: 768px) {
  .navigation-item {
    margin: 10px 0;
    display: block;
    width: 100%;
    background-color: #8F5C2C;
    color: #fff;
  }

  .navigation-item a {
    color: #fff;
    width: 100%;
  }

  .navigation-item a:hover,
  .navigation-item a:active,
  .navigation-item a.active {
    border-bottom: 4px solid #40A4C8;
  }
}
